<div class="container">

  <div class="row">
    <div class="col-md-6"><h2> Expenditures </h2></div>
    <div class="col-md-6 text-right" > <a [routerLink]="['expenditure']"><h4>+ add expenses</h4></a> </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Purpose</th>
        <th>Amount</th>
        <th>Paid By</th>
      </tr>
    </thead>
    <tbody>
      <tr class="info">
        <td>Costco</td>
        <td>$ 127.18</td>
        <td>Caren</td>
      </tr>
      <tr class="success">
        <td>Walmart</td>
        <td>$ 12.1</td>
        <td>Kiran</td>
      </tr>
      <tr class="danger">
        <td>Safe Way</td>
        <td>$ 120.1</td>
        <td>Indi</td>
      </tr>
      <tr class="active">
        <td>PG&E</td>
        <td>$ 78.1</td>
        <td>Caren</td>
      </tr>
      <tr class="warning">
        <td>Internet</td>
        <td>$ 50.0</td>
        <td>Caren</td>
      </tr>
    </tbody>
  </table>
</div>
